<html>
  <head>
    <title>

    </title>
  </head>
  <body>
    <p>
    <b>Name:<%= @ad.name%> </b>
    </p>
    <p>
    <b>Description: <%= @ad.description%></b>
    </p>
    <p>
    <b>Price: <%= @ad.price%></b>
    </p>
    <p>
    <b>Seller: <%= @ad.seller_id%></b>
    </p>
    <p>
    <b>Email: <%= @ad.email%></b>
    </p>
    <p>
    <img src="<%= @ad.img_url_string%>"/>
    </p>

  </body>
</html>

